body {
  max-width: 1600px;
  width: 100%;
  padding: 0;
  margin: auto;

  font-family: sans-serif;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: black;
  color: white;

  p {
    display: inline;
  }
}

.searchBar {
  display: flex;
  justify-content: space-between;
  padding: 24px;

  .searchInput {
    width: 425px;
    min-width: 100%;
    border-radius: 0;
    border-style: none;
    background-color: #d9d9d9;
  }
}

@media (max-width: 768px) {
  .searchBar .searchInput {
    width: 100%; /* Make the input take full width of its container */
  }
}

.navigationLinks {
  display: flex;
  justify-content: left;
}

.navigationItem {
  color: black;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
}

.navigationItem:hover {
  text-decoration: underline;
}

hr {
  height: 2px;
  background-color: black;
  border-style: none;
}

.portfolioBox,
.recommendedBox {
  background-color: #d9d9d9;
  color: black;
  width: 35%;
  padding: 12px;
  margin: 6px;

  p {
    margin: 0;
  }

  h1 {
    margin: 0;
  }
}

.portfolioItemContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.portfolioItem {
  display: flex;
  justify-content: space-between;

  .itemTitle {
    color: #767171;
  }
}

.portfolioOptions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .optionItem {
    background-color: #3dc0a8;
    padding: 12px;
    border-radius: 24px;
  }

  .optionItem:hover {
    background-color: #2e8e7c;
    cursor: pointer;
  }
}

.acquiredContainer {
  margin-top: 16px;

  .acquiredItem {
    padding: 12px;
  }
}
