* {
  font-family: Arial, Helvetica, sans-serif;
}

.homePageBody {
  max-width: 1280px;
  width: 100%;
  padding: 0;
  margin: auto;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px;

  background-color: black;
  width: 100%;
  color: white;
}

.topHeaderLeftSide{
  display: flex;

  div{
    padding: 8px 16px;
  }
}

.topHeaderRightSide{
  display: flex;

  div{
    padding: 8px 16px;
  }
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;

  h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .fa-solid {
    font-size: 16px;
    color: red;
  }

  .tradeButton {
    border-radius: 0;
    border-style: none;
    color: white;
    background: red;
  }
}

.searchBar {
  width: 100%;
  padding: 6px;
  border-style: none;
  background-color: gray;
  color: white;
}

.main {
  min-height: 100vh;

  hr {
    border-width: 2px;
    border-style: solid;
  }
}

.navLinkItem {
  text-decoration: none;
  margin: 0px 16px 0px 16px;
  color: black;
}

.navLinkItem:hover {
  text-decoration: underline;
  color: black;
}

.portfolioDashboard {
  display: flex;
  justify-content: space-between;
}

.portfolioItems {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  flex-wrap: nowrap;
  align-items: center;

  margin-top: 8px;
  margin-bottom: 8px;

  width: 100%;
  min-height: 125px;
  text-wrap: wrap;
  background-color: gray;
  color: rgb(255, 255, 255);

  h2 {
    margin: 0;
  }

  h4 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
  }

  h6 {
    margin: 0;
    font-weight: 500;
    font-size: 8px;
  }
}

.portfolioItems:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.leftSide {
  width: 25%;
  margin-right: 8px;
  text-align: center;
}

.rightSide {
  margin-top: 8px;
  margin-bottom: 8px;

  width: 75%;
  background-color: gray;
}

.rightSide:hover {
  background-color: black;
}

.portfolioVisualization {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
  color: white;
}

.footer {
}
