<header>
    <nav id="topHeader">
      <div>Corner</div>
      <div>
        <span>Welcome, User</span>
        <a href="/profile">Profile</a>
      </div>
    </nav>

    <nav id="middleHeader">
      <div id="applicationTitle">Development</div>
      <div id="searchBar">
        <input type="search" id="searchBox" placeholder="Search..." />
        <button type="submit" id="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button>
        
      </div>
      <div>
        <i class="fa-solid fa-bell" id="notificationBell"></i>
      </div>
    </nav>

    <nav id="bottomHeader">
      <div>
        <a href="/dashboard">Home</a>
        <a href="/positions">Positions</a>
        <a href="/updates">Updates</a>
      </div>
    </nav>

    <hr id="horizontalLine" />
  </header>

  