<header>
  <nav class="topHeader">

    <div>
      <a href="/dashboard" class="logoLink">
        <span class="applicationTitle">Investify</span>
      </a>
    </div>

    <div class="searchBar">
      <input type="search" class="searchBox" placeholder="Search..." />
      <button type="submit" class="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>


    <div title="Account">

      <button id="profile-btn" class="profile-button">
        <% if(locals.username){ %>
          <%= locals.username %> <i class="fa-solid fa-user"></i>
            <% } else { %>
              Username
              <% } %>
      </button>

      <div id="menu" class="menuContainer hide">
        <p class="headingTitle">
          Settings
        </p>
        <div id="links" class="linkContainer">
          <a href="/profile" class="dropdownLink" title="Preferences">
            <i class="fa-solid fa-gear"></i>Preferences
          </a>

          <a href="" class="dropdownLink" title="Help and Support">
            <i class="fa-solid fa-circle-question"></i>Help and Support
          </a>

          <a href="/logout" class="dropdownLink" title="Log out">
            <i class="fa-solid fa-right-from-bracket"></i>Log out
          </a>
        </div>
      </div>
    </div>

  </nav>

  <nav class="bottomHeader">
    <div>
      <a href="/dashboard" title="Home" class="navigationLink">Home</a>
      <a href="/positions" title="Positions" class="navigationLink">Positions</a>
      <a href="/news" title="News" class="navigationLink">News</a>
    </div>
  </nav>
</header>