<header>
  <nav id="topHeader">
    <div id="headerDivider">
      <div>Corner</div>

      <div title="Account">
        <button id="profile-btn">
          <% if(locals.username){ %>
            <%= locals.username %> <i class="fa-solid fa-user"></i>
              <% } else { %>
                Username
                <% } %>
        </button>

        <div id="menu" class="menu-container hide">
          <p class="headingTitle">
            Settings
          </p>
          <div id="links">
            <a href="/profile" class="dropdownLink">
              <i class="fa-solid fa-gear"></i>Preferences
            </a>

            <a href="" class="dropdownLink">
              <i class="fa-solid fa-circle-question"></i>Help and Support
            </a>

            <a href="/login" class="dropdownLink">
              <i class="fa-solid fa-right-from-bracket"></i>Log Out
            </a>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <nav id="middleHeader">
    <div><a href="/dashboard" id="applicationTitle">Investify</a></div>
    <div id="searchBar">
      <input type="search" id="searchBox" placeholder="Search..." />
      <button type="submit" id="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div>
      <i class="fa-solid fa-bell" id="notificationBell"></i>
    </div>
  </nav>

  <nav id="bottomHeader">
    <div>
      <a href="/dashboard" title="Home">Home</a>
      <a href="/positions" title="Positions">Positions</a>
      <a href="/updates" title="Updates">Updates</a>
    </div>
  </nav>

  <hr id="horizontalLine" />
</header>