<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investify | Page Not Found</title>
  </head>

  <body style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #d9d9d9; font-size: 1rem; font-family: 'Inter', sans-serif;">
    <div>
        <h2>404</h2>
        <p>Unfortunately this page does not exist, let's get you back to a page that does</p>
        <a href="/"><button>Home</button></a>
    </div>
  </body>
</html>