<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/Banner.css" />
  <link rel="stylesheet" href="/styles/Profile.css" />
  <script src="/js/toggleDropdown.js" defer></script>
  <title>Investify</title>
</head>

<body>
  <%- include("partials/header.ejs") %>

    <div id="graphContainer">
      <h6>Preferences</h6>

      <!------------------------ Update Account Information ------------------------>
      <div id="column">
        <div id="boxContainer">
          <div id="boxTitle">
            <h5>Account Information</h5>
          </div>

          <form id="boxForm" action="/update" method="post">
            <div id="box">
              <label for="username" id="formLabel">
                <% if(locals.error){ %>
                  <span id="errorMessage"><i><%= error %></i></span>
                <% } else { %>
                  <span>Username</span>
                <% } %>
              </label>
              <input id="formInput" type="text" name="username" value="">
            </div>

            <div id="box">
              <label for="password" id="formLabel">
                <span>Password</span>
              </label>
              <input id="formInput" type="password" name="password" value="">
            </div>

            <div id="box" style="justify-content: right; gap: 4px;">
              <input type="button" id="formButton" value="Cancel">
              <button id="formButton" type="submit" value="Submit"><span>Save</button>
            </div>
          </form>
        </div>
      </div>

      <!------------------------ Update Profile Information ------------------------>
      <div id="column">
        <div id="boxContainer">
          <div id="boxTitle">
            <h5>Profile Information</h5>
          </div>

          <form id="boxForm" action="" method="post">
            <div id="box">
              <label for="username" id="formLabel">
                <span>First name</span>
              </label>
              <input id="formInput" type="text" name="username" value="">
            </div>

            <div id="box">
              <label for="password" id="formLabel">
                <span>Last name</span>
              </label>
              <input id="formInput" type="password" name="password" value="">
            </div>

            <div id="box" style="justify-content: right; gap: 4px;">
              <input type="button" id="formButton" value="Cancel">
              <button id="formButton" type="submit" value="Submit"><span>Save</button>
            </div>
          </form>
        </div>
      </div>


      <!------------------------ Import From Plaid ------------------------>

      <div id="column">
        <div id="boxContainer">
          <div id="boxTitle">
            <h5>Import From Plaid</h5>
          </div>

          <form id="boxForm">
            <div id="box">
              <button id="plaidButton">
                <span>Link with Plaid</span>
              </button>
            </div>
          </form>
        </div>
      </div>

      <!------------------------ Delete Account ------------------------>
      <div id="column">
        <div id="boxContainer">
          <div id="boxTitle">
            <h5>Danger Zone</h5>
          </div>

          <form id="boxForm" action="/delete" method="post">
            <div id="dangerBoxContainer">

              <div id="deleteAccountInformation">
                <div>
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <span><strong>Request for account deletion</strong></span>
                </div>

                <div>
                  <span>
                    Deleting your account is permanent and cannot be undone. All data will be removed, except
                    the data that was imported from Plaid. The Plaid Data remains completely safe. 
                  </span>
                </div>

                <div style="display: flex; justify-content: right; gap: 4px;">
                  <button id="deleteFormButton" type="submit" value="Submit"><span>Delete Account</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


    </div>

    <!--- Add client sided script for when the user clicks cancel it erases whatever the user inputted -->

</body>

</html>