/*-----------------------------------------*/
#topHeader {
  
  position: relative;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: black;
  color: white;

  #headerDivider{
    display: flex;
    justify-content: space-between;
  }

  #profile-btn {
    user-select: none;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 0.833rem;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: rgb(66, 66, 66);
    border-radius: 6px;
    border-width: 1px;
  }

  #profile-btn:active{
    background-color: rgb(216, 216, 216);
  }

  .menu-container{
    position: absolute;
    z-index: 1;
    box-shadow: rgba(151, 151, 151, 0.75) 0px 3px 8px;
    top: 48px;
    right: 11px;
    color: black;
    background-color: white;
    width: 215px;
    height: auto;
    border-radius: 4px;
  }

  .headingTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    height: 50px;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: #d9d9d9;
  }

  .dropdownLink{
    display: block;
    text-decoration-line: none;
    color: black;
    padding: 1rem;
    font-size: 0.833rem;

    .fa-solid{
      margin-right: 10px;
    }
  }

  .dropdownLink:hover{
    background-color: #d9d9d9;
  }


  .hide{
    display: none;
  }

}

/*-----------------------------------------*/
#middleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: white;
  color: black;

  #applicationTitle {
    color: #0e8cd2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  #searchBar{
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 4px;
  }

  #searchBox {
    width: 480px;
    padding: 6px;
    background-color: #d9d9d9;
    border-style: solid;
    border-color: #d9d9d9;
  }

  #searchBox:focus{
    outline: none;
  }

  #searchIcon{
    padding: 6px;
    cursor: pointer;
    float: right;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: #d9d9d9;
  }
}

@media only screen and (max-width: 900px) {
  #searchBar {
    display: none;
  }
}

/*-----------------------------------------*/
#bottomHeader {
  display: flex;
  justify-content: left;
  padding: 12px;

  a {
    text-decoration-line: none;
    color: black;
    margin-right: 16px;
  }

  a:hover {
    text-decoration: underline;
  }
}

#notificationBell{
  font-size: 1.2rem;
  opacity: 1;
  cursor: pointer;
}

#notificationBell:hover{ 
  opacity: 0.75;
}

/*-----------------------------------------*/
#horizontalLine {
  margin-top: 0;
  margin-bottom: 16px;
  border-width: 3px;
  border-style: solid;
  color: #d9d9d9;
}
