/*-----------------------------------------*/
#topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: black;
  color: white;

  a {
    color: white;
    margin-left: 6px;
    text-decoration-line: none;
  }

  a:hover {
    text-decoration-line: underline;
  }

  #profile{
    cursor: pointer;
    background-color: white;
    color: black;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: rgb(66, 66, 66);
    border-radius: 6px;
    border-width: 1px;
  }

  #profile:active{
    background-color: rgb(216, 216, 216);
  }
}

/*-----------------------------------------*/
#middleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: white;
  color: black;

  #applicationTitle {
    color: #0e8cd2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  #searchBar{
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }

  #searchBox {
    width: 600px;
    padding: 6px;
    background-color: #d9d9d9;
    border-style: solid;
    border-color: #d9d9d9;
  }

  #searchBox:focus{
    outline: none;
  }

  #searchIcon{
    padding: 6px;
    cursor: pointer;
    float: right;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: #d9d9d9;
  }
}

@media only screen and (max-width: 900px) {
  #searchBar {
    display: none;
  }
}

/*-----------------------------------------*/
#bottomHeader {
  display: flex;
  justify-content: left;
  padding: 12px;

  a {
    text-decoration-line: none;
    color: black;
    margin-right: 16px;
  }

  a:hover {
    text-decoration: underline;
  }
}

#notificationBell{
  font-size: 1.2rem;
  opacity: 1;
  cursor: pointer;
}

#notificationBell:hover{ 
  opacity: 0.75;
}

/*-----------------------------------------*/
#horizontalLine {
  margin-top: 0;
  margin-bottom: 16px;
  border-width: 3px;
  border-style: solid;
  color: #d9d9d9;
}
