/*-----------------------------------------*/
#topHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: black;
  color: white;

  a {
    color: white;
    margin-left: 6px;
    text-decoration-line: none;
  }

  a:hover {
    text-decoration-line: underline;
  }
}

/*-----------------------------------------*/
#middleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: white;
  color: black;

  #applicationTitle {
    color: #0e8cd2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 24px;
  }

  #searchBox {
    width: 600px;
    padding: 6px;
    background-color: #d9d9d9;
    border-style: solid;
    border-color: #d9d9d9;
  }

  #searchBox:focus{
    outline: none;
  }

  #searchIcon{
    padding: 6px;
    cursor: pointer;
    float: right;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: #d9d9d9;
  }
}

@media only screen and (max-width: 900px) {
  #searchBar {
    display: none;
  }
}

/*-----------------------------------------*/
#bottomHeader {
  display: flex;
  justify-content: left;
  padding: 12px;

  a {
    text-decoration-line: none;
    color: black;
    margin-right: 16px;
  }

  a:hover {
    text-decoration: underline;
  }
}

#notificationBell{
  font-size: 1.5rem;
  cursor: pointer;
}

#notificationBell:hover{
  color: rgb(51, 51, 51);
}

/*-----------------------------------------*/
#horizontalLine {
  margin-top: 0;
  margin-bottom: 16px;
  border-width: 3px;
  border-style: solid;
  color: #d9d9d9;
}
