* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  background-color: white;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.728rem;
  margin: 0;
  padding: 0;
}

h6{
  font-size: 1.25rem;
  padding: 0;
  margin: 10px 0px;
}

p{
  font-size: 1rem;
  margin: 12px 0px;
}

span {
  font-size: 1rem;
}

#recommendedBox, #portfolioBox {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

#recommendedBox, #portfolioBox{
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 4px;
}

/* Main */

#container {
  display: grid;
  height: 50dvh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "portfolioBox performanceGraph"
    "recommendedBox dateBox"
    "footer footer";
  gap: 1rem;
}

/* Portfolio Box */

#portfolioBox {
  background-color: #d9d9d9;
  grid-area: portfolioBox;
}

#informationItem {
  display: flex;
  justify-content: space-between;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

#buttonItem {
  color: white;
  padding: 12px;
  width: 96px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: #33a08c;
}

#buttonItem:hover {
  background-color: #37ac97;
}

#buttonItem:active {
  background-color: #2f8d7c;
}

#positionItem{
  display: flex;
  justify-content: space-between;
}



/* Recommended Box */

#recommendedBox {
  background-color: #d9d9d9;
  grid-area: recommendedBox;

  h1 {
    margin: 0;
    font-size: 20px;
  }
}

#recommendedItem{
  display: flex;
  justify-content: space-between;
}

#performanceGraph {
  align-items: center;
  justify-content: center;
  padding: 24px;
  grid-area: performanceGraph;
}

#titleContainer{
  height: 15%;
}

#graphContainer{
  display: grid;
  height: 85%;
  grid-template-columns: 2fr 1fr;
  grid-gap: 12px;
  width: 100%;
}

.chart{
  width: 100%;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas:
      "performanceGraph"
      "dateBox"
      "portfolioBox"
      "recommendedBox"
      "footer";
  }

  .banner {
    display: none;
  }

  #buttonContainer {
    flex-wrap: wrap;
  }

  #graphContainer {
    grid-template-columns: 1fr;
  }

  #lineGraph, #doughnutChart {
    width: 100%;
  }
}

/* Date Box */

#dateBox {
  grid-area: dateBox;
  padding: 12px;
  text-align: center;
}

#dateButton {
  padding: 1rem;
  border: none;
  margin-right: 4px;
  margin-left: 4px;
  background: none;
  cursor: pointer;
}

#dateButton:focus {
  outline: none;
  font-weight: bold;
}