/* ========================== Default CSS ========================== */

* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  background-color: white;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.65rem;
  margin: 0;
  padding: 0;
  font-weight: 550;
}

h6{
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  font-weight: 550;
}

p{
  font-size: 1rem;
  margin: 12px 0px;
}

span {
  font-size: 1rem;
}

#recommendedBox, #portfolioBox, #transactionBox, #lineGraphBox, #doughnutGraphBox {
  padding: 1.25rem;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}

/* ========================== Main ========================== */

#container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "portfolioBox lineGraphBox doughnutGraphBox"
    "recommendedBox transactionBox transactionBox"
    "footer footer footer";
  gap: 1rem;
  margin-right: 1.5rem;
  margin-left: 0.25rem;
}

/* ========================== Portfolio Box ========================== */

#portfolioBox {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: portfolioBox;
}

#informationItem {
  display: flex;
  justify-content: space-between;
}

#buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#buttonItem {
  color: white;
  padding: 0.75rem;
  width: 96px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: #33a08c;
}

#buttonItem:hover {
  background-color: #37ac97;
}

#buttonItem:active {
  background-color: #2f8d7c;
}

#positionItem{
  display: flex;
  justify-content: space-between;
}

#positiveTrendColor{
  color: #009900;
}

#negativeTrendColor {
  color: #FF3300
}

/* ========================== Recommended Box ========================== */

#recommendedBox {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: recommendedBox;

  h1 {
    margin: 0;
    font-size: 20px;
  }
}

#recommendedItem{
  display: flex;
  justify-content: space-between;
}


/* ========================== Graph Box ========================== */

#titleContainer{
  display: flex;
  flex-direction: column;
}

#borderLine{
  margin-top: 6px;
  margin-bottom: 6px;
  border-style: solid;
  border-width: 1px;
  /* border-color: #e0e1e2; */
  border-color: #e0e1e2;
}

#lineGraphBox{
  grid-area: lineGraphBox;
}

#lineGraphBox, #doughnutGraphBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#doughnutGraphBox{
  grid-area: doughnutGraphBox;
}

canvas#lineGraph, canvas#doughnutChart{
  max-width: 100%;
  margin-top: 0.5rem;
}

.chart{
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
}

/* ========================== Media Queries ========================== */

@media only screen and (max-width: 768px) {
  #container {
    margin: 0;
    gap: 1.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 0.5fr 0.5fr;
    grid-template-areas:
      "lineGraphBox"
      "doughnutGraphBox"
      "portfolioBox"
      "transactionBox"
      "recommendedBox"
      "footer";
  }

  .banner {
    display: none;
  }

  .chart{
    padding: 0;
  }

  #transactionBox{
    background-color: #d9d9d9;
  }


  #buttonContainer {
    flex-wrap: wrap;
  }

  canvas#lineGraph, canvas#doughnutChart{
    margin-top: 0rem;
  }

  #lineGraphBox, #doughnutGraphBox{
    padding: 0;
    margin: 5%;
    box-shadow: none;
  }
}

/* ========================== Transaction Box ========================== */

#transactionBox {
  grid-area: transactionBox;
  height: 0;
  min-height: 100%;
  overflow-y: auto;
}

#transactionTable{
  width: 100%;
  border-collapse: collapse;
}

#transactionTable td{
  padding: 10px;
}

#headerBlock{
  font-weight: 500;
}

#block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dateButton {
  padding: 1rem;
  border: none;
  margin-right: 4px;
  margin-left: 4px;
  background: none;
  cursor: pointer;
}

#dateButton:focus {
  outline: none;
  font-weight: bold;
}