* {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  background-color: white;
  font-family: "Inter", sans-serif;
}

input{
  height: 25px;
}

.container {
  display: flex;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  width: 375px;
  max-width: 100%;
}

h1{
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

div{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label, input, a{
  font-size: 12px;
}

#username, #email, #password, #password2{
  border-color: gray;
  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;
  height: 30px;
  margin-top: 6px;
}

#submit{
  background-color:  #3dc0a8;
  border: none;
  height: 40px;
  color: black;
  cursor: pointer;
}

#submit:hover{
  background-color:  #37ac97;
}

#submit:active{
  background-color: #2f8d7c;
}

#registerLink{
  color: black;
  text-decoration-line: none;
}

#registerLink:hover{
  text-decoration: underline;
}

#errorMessage{
  color: #CC3300;
}

#errorMessageHeader{
  text-align: center;
  color: #CC3300;
}



