/* ========================== Default CSS ========================== */
* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 1600px;
    width: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
    font-family: "Inter", sans-serif;
  }

  /* ========================== Main Box ========================== */

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "moversBox mainBox filterBox";
    gap: 20px;
    padding: 0 56px;
  }

  .box {
    border-style: solid;
    background-color: #d9d9d9;
    border-color: rgb(200, 200, 200);
    border-width: 0.5px;
    border-radius: 4px;
    padding: 1rem;
  }

  .main {
    position: relative;
    display: grid;
    row-gap: 1rem;
    flex-direction: column;
    font-size: 0.875rem;
  }

  .main a {
    text-decoration: none;
    color: black;
  }

  .article {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .article:hover {
    background-color: #c9c9c9;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }

  .date {
    font-size: 0.75rem;
    opacity: 0.85;
  }

  .headline {
    font-size: 0.938rem;
  }

  .summary {
    opacity: 0.75;
    font-size: 0.813rem;
  }

  .movers, .filter {
    position: sticky;
    top: 12px;
    align-self: start;
    font-size: 0.875rem;
  }
  
  /* ========================== Mover Box ========================== */

  table {
    table-layout: fixed;
    width: 100%; 
    font-size: 0.813rem;
    border-collapse: collapse;
    text-align: left;
  }

  table thead tr {
    font-size: 0.75rem;
  }

  th, td {
    text-overflow: ellipsis;
    padding: 0.25rem;
  }

  td:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 2px;
    flex-direction: row;
  }


  .movers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .switcher-container {
    display: flex;
    gap: 1rem;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
  }

  .switcher-button {
    height: 2em;
    padding: 0;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    position: relative;
    color: #4e4e4e;
  }

  .switcher-button.active {
    padding: 0;
    color: rgb(0, 0, 0);
  }

  .switcher-button.active::after {
    content: '';
    position: absolute;
    bottom: -0.75px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #33a08c;
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }

  /* ========================== Filter Box ========================== */

  .filter {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    font-weight: 500;
  }

  .filter form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .filter form button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: #33a08c;
    border-radius: 4px;
  }

  .filter form button:hover {
    background-color: #37ac97;
  }

  .filter form button:active {
    background-color: #2f8d7c;
  }

  /* ========================== Mobile Responsiveness ========================== */

  @media only screen and (max-width: 1200px) {
    .container {
      text-align: left;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "filterBox"
      "mainBox";
      padding: 1rem;
    }

    .box.filter {
      grid-area: filterBox;
      position: relative;
    }

    .main {
      grid-area: mainBox;
    }

    .article {
      flex-wrap: wrap;
    }

    .box.movers {
      display: none;
    }

  }