* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  background-color: white;

  font-family: "Inter", sans-serif;
}

h6{
  font-size: 1.2rem;
  padding: 0;
  margin: 8px 0px;
}

td{
  font-size: 0.833rem;
  padding: 0;
  margin: 10px 0px;
}


/* Main */

#userPositionsTable {
  height: 100%;
  width: 100%;
  border-collapse:collapse;
}

#headerCells {
  background-color: #0d6da1;
  color: white;
  font-weight: 600;
}


td {
  padding: 1rem;
  background-color: #d9d9d9;
  border-width: 1px;
  width: 400px;

  a{
    color:  #299ad7;
    text-decoration-line: none;
  }

  a:hover{
    text-decoration-line: underline;
  }
}

tr{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #b0afaf;
}

tr:hover {
  td{
    background-color: #c9c9c9;
  }
}

td:hover{
  cursor: pointer;
  background-color: #c9c9c9;
}

tr td:nth-child(7) {
  width: 200px;
  text-align: center;
}

#filterBox{
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Media Queries for Mobile Devices */
@media (max-width: 650px) {
  #headerCells {
    display: none;
  }

  td {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #d9d9d9;
    border-style: none;
    border-bottom-color: black;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }

  tr td:nth-child(7) {
    width: 100%;
    text-align: left;
  }
  
}

#sortByButton{
  padding-top: 6px;
  padding-bottom: 6px;
}

#actionButton {
  padding-top: 10px;
  padding-bottom: 10px;
}


