/* ========================== Default CSS ========================== */
* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 1600px;
    width: 100%;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    background-color: white;
  
    font-family: "Inter", sans-serif;
  }

  